@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.primary-col{
  color: #694343;
}

.secondary-col{
  color: #6e4343;
}

.pink-col{
  color: #e1acac;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}